<%- include('./partials/head') %>


<header>
    <a href="index.html"><img class="header-logo" src="assets/buurtcampus-oost-logo.svg" alt="" width="300x"> </a>
  
    <ul>
        <li><a href="/index">HOME</a></li>
        <li><a href="/reserveren">RESERVEREN</a></li>
        <li><a href="/agenda">AGENDA</a></li>
        <li><a href="/informatie">INFORMATIE</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
</header>
  
<hr>

<main>

  <h1 class="titel-h1">Onze stekjes</h1>

  <div class="stekjes-container1">

    <% stekjes.forEach(stekje => { %>
    <div class="stekjes">
        <h2><%= stekje.naam %></h2>
        
        
        <% if (stekje.fotos[0]) { %>
           <img src="<%=stekje.fotos[0].original %>" width="<%=stekje.fotos[0].width%>"
          
           height="<%= stekje.fotos[0].heigth %>" alt="stekje <%= stekje.naam %>">
           <% }else{ %>
          
     <!-- anders een placeholder -->
     <img class="stekje-intro-img" src="assets/stekje-intro.jpeg">
             <% } %>
        
             <button> Meer informatie</button>
    </div>
    <% }) %>
  
  
  </div>
</main> 

<%- include('./partials/foot') %>